{% block metadata %}
{% set timeout_factor = lab_timeout_factor | default("1") %}
metadata:
  image.type: 'AGL'
{% endblock %}
{% block main %}
device_type: {{ device_type }}

job_name: {{ name }}
timeouts:
  job:
    minutes: {{ (30 * {{timeout_factor}}) // 1 }}
  action:
    minutes: {{ (15 * {{timeout_factor}}) // 1 }}
priority: {{ priority }}
visibility: public
{% endblock %}
{% block actions %}{% endblock %}
